
.info__img {
  position: relative;
  font-size: 0;
}

.info__trans {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #95e1d3;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform .3s;
  transition-delay: .1s;
}

.info__img > img {
  width: 100%;
  transition: transform .3s;
}

.info__item:hover .info__img > img {
  transform: translate(-5px,-5px);
}

.info__item:hover .info__trans {
  transform: translate(5px,5px);
}

.info__item:hover .info__social {
  transform: scale(1);
}

.info__caption {
  text-align: center;
  margin-top: 10px;
}

.info__name,
.info__subname {
  display: block;
}
.pic__img{
  position: relative;
    font-size: 0;
}
.pic__trans{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #95e1d3;
  top: 0;
  left: 0;
  z-index: -1; opacity: 0.5;
  transition: transform .5s;
  transition-delay: .2s;
}
.pic__img>img{
   width: 100%;
    transition: transform .3s;
}
.pic__item:hover .pic__img > img {
  transform: translate(-5px,-5px);
}
.pic__item:hover .pic__trans {
  transform: translate(5px,5px);
}

.pic__trans{
  display: block;
	font-size: 16px;
  position: absolute;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(../img/gradient.png);
  opacity: 0.7;
  z-index: 3;
  transform: scale(0);
  transform-origin: 50% 50%; 
  transition: transform .3s;
  position: absolute;
  margin-top: -8px;
  margin-left: -6.8px;
  transition-delay: .2s;
  
}
.pic__trans .fa{
  color: #fff;
  display: inline-block;
}
.info__social {
  font-size: 16px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(../img/mangradient.png);
  z-index: 3;
  transform: scale(0);
  transform-origin: 50% 50%; 
  transition: transform .3s;
  margin-top: -8px;
  margin-left: -6.8px;

}
.maingallery__gradient{
  width: 100%;
  height: 100%;
  background: url(../img/mangradient.png);
  background-size: 100% 100%;
  position: absolute;
  color: #fff;
  text-align: center;
  display: flex;
  flex-flow: column;
  opacity: 0;
  justify-content: center;
  transition:opacity .4s ease-in;
  z-index: 2;

}
.maingallery__gradient .fa, .maingallery__gradient p{
  color: #fff;
  margin-bottom: 10px;
}
.maingallery__gradient:hover{
  opacity: 1;
}
.maingallery__photo{
position: absolute;
width: 100%;
height: 100%;
}
.maingallery__box{
  position: relative;
  width: 100%;
  height: 100%;
}
.maingallery{
  display: flex;  
  height:95vh;
}
.a{
  flex:2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.child-of-a{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;  
}
.c, .b{
  flex-flow: column;
}
.b,.c{
  flex:1;
  display: flex;

}
