a:hover, a:focus,.nav>li>a:focus, .nav>li>a:hover{
	text-shadow: none;
	text-decoration-color: none;
	text-decoration: none;
	box-shadow: none;
	background: none;
	text-decoration-style:none;
	
}
.nav>li>a:focus, .nav>li>a:hover:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


.navbar-brand:hover{
	color: white;
}
a:hover, a:focus {
  -o-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: rgba(0,0,0,0);
	text-shadow: none;
	color:RGB(252, 227 , 138);
}
@media (max-width: 770px) {
	.gallery__img{width: 180px;max-height: 40%;}
	.item{width: 100%;}
	.panel-group{margin-top: 10%;}
	.flex{display: flex;align-items: center;flex-direction: column;text-align: center;}
	.client__img{padding:10% 0;}
	.nav{float: none;}
	.section--fon-eagle {padding-bottom: 0;}
	.insc__item--size--big{font-size: 15vw;}
	.insc__item--font--kaush{font-size: 10vw;}
	.foot .row p{text-align: center;}	
}
@media (max-width: 950px){
	.info__info{margin: 5% 0;}
	.cz{width: 100vw;}
	.sc__img--centerd-sm{width: 100%;} 
	.panel-group{margin-top:60px;}
	.info__info--md{display: flex;align-items: center;flex-direction: column;text-align: center;}
	.navbar-nav>li>a{text-align: center;}
	.logo{flex-wrap:wrap;}
		.inscr{padding-top: 0;}

}
@media(max-width: 1310px){
  .maingallery{height: 75vh;}
  .insc__item--size--big{font-size: 8vw;}
}
@media(max-width: 1200px){
   .maingallery{height: 60vh;
  }
@media(max-width: 750px){
   .maingallery{height: 130vh;
    flex-flow: column wrap;}
    .b{display: none;}
      .c{flex-flow: row!important;}
      .section--fon-eagle{padding-bottom: 20%;}
}
@media(max-width:500px){
  .maingallery{height: 100vh;}
  .inscr/*:not(:first-child)*/{padding-top: 10%;}
  .article__p{padding-bottom: 3%;}
  .grayblock__comments{padding: 30px;}
}
@media(max-width:330px){
  .maingallery{height: 120vh;}
	.insc__item--size--big{font-size: 15vw;}
	.inscr{padding-top: 0;}
  }

.glyphicon-chevron-down{
	color: RGB(208, 208 , 208);
	float: right;
	margin: 2.5%;
}
.panel-heading{
	border-radius: 0;
}
.panel-group .panel{
	border-radius: 0;
}
.panel-heading .icon-box__title--black{
	margin:0;
}
.panel-title .fa{
	margin-right: 2%;
}
.panel-body{
	overflow: auto;
	max-height: 150px;
}
::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-thumb{
	border-radius: 10%;
	background-color:RGB(149, 225 , 211);
}
::-webkit-scrollbar-track {
      background-color: RGB(245, 245 , 245);
}

