a:hover, a:focus,.nav>li>a:focus, .nav>li>a:hover{
	text-shadow: none;
	text-decoration-color: none;
	text-decoration: none;
	box-shadow: none;
	background: none;
	text-decoration-style:none;
	
}
.line__block a.link:hover{
	color: RGB(252, 227 , 138);;
}
.mini-block:not(:first-child){
	padding-top:10px;
}
.navbar-brand:hover{
	color: white;
}
a:hover, a:focus {
  -o-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  color: #000;
  
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: rgba(0,0,0,0);
	text-shadow: none;
	color:RGB(252, 227 , 138);
}
@media (max-width: 770px) {
	.gallery__img{width: 180px;max-height: 40%;}
	.item{width: 100%;}
	.panel-group{margin-top: 10%;}
	.centered{display: flex;align-items: center;flex-direction: column;text-align: center;}
	.client__img{padding:10% 0;}
	.nav{float: none;}
	.section--fon-eagle {padding-bottom: 0;}
	.main-heading{font-size: 10vw;}
	.heading{font-size: 5vw;}
	.foot .row p{text-align: center;}	
}
@media (max-width: 950px){
	.info__info{margin: 5% 0;}
	.cz{width: 100vw;}
	.sc__img--centerd-sm{width: 100%;} 
	.panel-group{margin-top:60px;}
	.info__info--md{display: flex;align-items: center;flex-direction: column;text-align: center;}
	.navbar-nav>li>a{text-align: center;}
	.logo{flex-wrap:wrap;}

}
@media(max-width: 1310px){
  .maingallery{height: 75vh;}
  .main-heading{font-size: 8vw;}
}
@media(max-width: 1200px){
   .maingallery{height: 60vh;
  }
@media(max-width: 750px){
   .maingallery{height: 130vh;
    flex-flow: column wrap;}
    .b{display: none;}
      .c{flex-flow: row!important;}
      .section--fon-eagle{padding-bottom: 20%;}
}
@media(max-width:500px){
  .maingallery{height: 600px;}
  .mini-block/*:not(:first-child)*/{padding-top: 10%;}
  .lead{padding-bottom: 3%;}
  .grayblock__comments{padding: 30px;}
  .heading{font-size: 5vw;margin-top: 0;
}
}
@media(max-width:330px){
  .maingallery{height: 500px;}
	.main-heading{font-size: 10vw;}
	.mini-block:not(:first-child){padding-top: 0;}
  }

.glyphicon-chevron-down{
	color: RGB(208, 208 , 208);
	float: right;
	margin: 2.5%;
}
.panel-heading{
	border-radius: 0;
}
.panel-group .panel{
	border-radius: 0;
}
.panel-heading .icon-box__title{
	margin:0;
}
.panel-title .fa{
	margin-right: 2%;
}
.panel-body{
	overflow: auto;
	max-height: 150px;
}
::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-thumb{
	border-radius: 10%;
	background-color:RGB(149, 225 , 211);
}
::-webkit-scrollbar-track {
      background-color: RGB(245, 245 , 245);
}

